<div class="ui-g">
  <div class="ui-g-12">
    <p-fieldset legend="Prepara prossima stagione">
      <div class="ui-g">
        <div class="ui-g-12" *ngFor="let i=index; let campionato of stagione.listaCampionati">
          <app-prepara-campionato [campionato]="campionato" [singolo]="false" (campionatoPronto)="checkStagionePronta()"
            [listaPromosse]="listaPromosse[i]"
            [listaRetrocesse]="listaRetrocesse[i]"></app-prepara-campionato>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-10">
        </div>
        <div class="ui-g-2">
          <p-button class="appButton" [disabled]="checkProsegui" label="GIOCA" (onClick)="proseguiStagione()">
          </p-button>
        </div>
      </div>
    </p-fieldset>
  </div>
</div>
