.champions {
  background-color: #00ff82 !important;
}

.europa {
  background-color:  #ff9678 !important;
}

.promozione {
  background-color: #00ffff !important;
}

.vincitore {
  background-color:  #00ffff !important;
}

.retrocessione {
  background-color: #ffff00 !important;
}

.intertoto {
  background-color: rgb(247, 199, 43) !important;
}

.playoff {
  background-color: rgb(77, 255, 7) !important;
}

.playout {
  background-color: rgb(243, 160, 181) !important;
}
