<p-fieldset legend="STATISTICHE" [toggleable]="true" [collapsed]="true">
  <div class="p-grid">
    <div class="p-col-6">
      <h3>SQUADRA A</h3>
      <p-dropdown class="appDropDown" [options]="listaTeams" filter="true" [(ngModel)]="teamA_grafico"
        (ngModelChange)="aggiornaAndamentoGrafico()">
      </p-dropdown>
    </div>
    <div class="p-col-6">
      <h3>SQUADRA B</h3>
      <p-dropdown class="appDropDown" [options]="listaTeams" filter="true" [(ngModel)]="teamB_grafico"
        (ngModelChange)="aggiornaAndamentoGrafico()">
      </p-dropdown>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <p-chart type="line" [data]="data" (onDataSelect)="selectData($event)" width="90vw" height="50vh"></p-chart>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-6">
      <p-fieldset legend="{{teamA_grafico.nome}}">
        <div class="p-grid">
          <div class="p-col-12">
            <p-scrollPanel [style]="{width: '100%', height: '400px'}">
              <div *ngFor="let evento of listaEventi_A">
                <div class="p-grid">
                  <div class="p-col-1"><img class="teamLogo"
                      src="https://firebasestorage.googleapis.com/v0/b/football-cards-2020.appspot.com/o{{evento.teamC.logo}}?alt=media"
                      width="30" heigth="30" (error)="updateLogo($event, evento.teamC)" /></div>
                  <div class="p-col-4">
                    <h3
                      pTooltip="{{'Valore tecnico ' +evento.teamC.nome.toUpperCase() +': '+ evento.teamC.valoreTecnico}}"
                      tooltipPosition="top">{{evento.teamC.nome.toUpperCase()}}</h3>
                  </div>
                  <div class="p-col-1"><img class="teamLogo"
                      src="https://firebasestorage.googleapis.com/v0/b/football-cards-2020.appspot.com/o{{evento.teamFC.logo}}?alt=media"
                      width="30" heigth="30" (error)="updateLogo($event, evento.teamFC)" /></div>
                  <div class="p-col-4"
                    pTooltip="{{'Valore tecnico ' +evento.teamFC.nome.toUpperCase() +': '+ evento.teamFC.valoreTecnico}}"
                    tooltipPosition="top">
                    <h3>{{evento.teamFC.nome.toUpperCase()}}</h3>
                  </div>
                  <div class="p-col-2">
                    <h2>{{evento.goalC}} - {{evento.goalFC}}</h2>
                  </div>
                </div>
              </div>
            </p-scrollPanel>
          </div>
        </div>
      </p-fieldset>
    </div>

    <div class="p-col-6">
      <p-fieldset legend="{{teamB_grafico.nome}}">
        <div class="p-grid">
          <div class="p-col-12">
            <p-scrollPanel [style]="{width: '100%', height: '400px'}">
              <div *ngFor="let evento of listaEventi_B">
                <div class="p-grid">
                  <div class="p-col-1"><img class="teamLogo"
                      src="https://firebasestorage.googleapis.com/v0/b/football-cards-2020.appspot.com/o{{evento.teamC.logo}}?alt=media"
                      width="30" heigth="30" (error)="updateLogo($event, evento.teamC)" /></div>
                  <div class="p-col-4">
                    <h3
                      pTooltip="{{'Valore tecnico ' +evento.teamC.nome.toUpperCase() +': '+ evento.teamC.valoreTecnico}}"
                      tooltipPosition="top">{{evento.teamC.nome.toUpperCase()}}</h3>
                  </div>
                  <div class="p-col-1"><img class="teamLogo"
                      src="https://firebasestorage.googleapis.com/v0/b/football-cards-2020.appspot.com/o{{evento.teamFC.logo}}?alt=media"
                      width="30" heigth="30" (error)="updateLogo($event, evento.teamFC)" /></div>
                  <div class="p-col-4"
                    pTooltip="{{'Valore tecnico ' +evento.teamFC.nome.toUpperCase() +': '+ evento.teamFC.valoreTecnico}}"
                    tooltipPosition="top">
                    <h3>{{evento.teamFC.nome.toUpperCase()}}</h3>
                  </div>
                  <div class="p-col-2">
                    <h2>{{evento.goalC}} - {{evento.goalFC}}</h2>
                  </div>
                </div>
              </div>
            </p-scrollPanel>
          </div>
        </div>
      </p-fieldset>
    </div>
  </div>
</p-fieldset>
