<div class="ui-g">
  <div class="ui-g-12 ui-sm-12">
    <p-fieldset legend="Configuratore">
      <p-tabView>
        <p-tabPanel header="TIPOLOGIA TORNEO">
          <app-configura-tipologia-torneo></app-configura-tipologia-torneo>
        </p-tabPanel>
        <p-tabPanel header="STAGIONI">
          <app-configura-stagioni></app-configura-stagioni>
        </p-tabPanel>
        <p-tabPanel header="NUMERO SQUADRE">
          <app-configura-numero-teams></app-configura-numero-teams>
        </p-tabPanel>
        <p-tabPanel header="FORMAT CAMPIONATO">
          <app-configura-format-campionato></app-configura-format-campionato>
        </p-tabPanel>
        <p-tabPanel header="SQUADRE">
          <app-configura-lista-teams></app-configura-lista-teams>
        </p-tabPanel>
      </p-tabView>
    </p-fieldset>
  </div>
</div>
