//COLOR
$primary-text-color: #ffffff;
$secondary-text-color: #ffffff;
$secondary-input-text-color: #848484;

$primary-color: #7e3541;
$primary-color-50: #7e354186;
$primary-color-hover: #850016;
$primary-color-active: #850016;
$primary-color-focus: #850016;

$secondary-color: #607D8B;
$secondary-color-hover: #546E7A;
$secondary-color-active: #455A64;
$secondary-color-focus: #B0BEC5;

// GENERAL
* {
  box-sizing: border-box;
}

.p-component {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.75rem;
  font-weight: normal;
}

.p-component-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  transition-duration: 0.2s;
}

.p-disabled, .p-component:disabled {
  opacity: 0.5;
}

.p-error {
  color: #a80000;
}

.p-text-secondary {
  color: $secondary-input-text-color;
}

.pi {
  font-size: 1rem;
}

.p-link {
  font-size: 1rem;
  font-family: "Arial", Times, serif;
  border-radius: 3px;
}
.p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem $primary-color-focus;
}


// Button START

.p-button {
  color: $primary-text-color;
  background: $primary-color;
  border: 1px solid $primary-color;
  padding: 0.429rem 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 3px;
  font-weight: 550;
}
.p-button:enabled:hover {
  background: $primary-color-hover;
  color: $primary-text-color;
  border-color: $primary-color-hover;
}
.p-button:enabled:active {
  background: $primary-color-active;
  color: $primary-text-color;
  border-color: $primary-color-active;
}
.p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem $primary-color-focus;
}
.p-button .p-button-icon-left {
  margin-right: 0.5rem;
}
.p-button .p-button-icon-right {
  margin-left: 0.5rem;
}
.p-button .p-button-icon-bottom {
  margin-top: 0.5rem;
}
.p-button .p-button-icon-top {
  margin-bottom: 0.5rem;
}
.p-button .p-badge {
  margin-left: 0.5rem;
  min-width: 1rem;
  height: 1rem;
  line-height: 1rem;
  color: $primary-color;
  background-color: #ffffff;
}
.p-button.p-button-icon-only {
  width: 2.357rem;
  padding: 0.429rem 0;
}
.p-button.p-button-icon-only .p-button-icon-left,
.p-button.p-button-icon-only .p-button-icon-right {
  margin: 0;
}
.p-button.p-button-sm {
  font-size: 0.875rem;
  padding: 0.375375rem 0.875rem;
}
.p-button.p-button-sm .p-button-icon {
  font-size: 0.875rem;
}
.p-button.p-button-lg {
  font-size: 1.25rem;
  padding: 0.53625rem 1.25rem;
}
.p-button.p-button-lg .p-button-icon {
  font-size: 1.25rem;
}
.p-button.p-button-loading-label-only .p-button-label {
  margin-left: 0.5rem;
}
.p-button.p-button-loading-label-only .p-button-loading-icon {
  margin-right: 0;
}

.p-fluid .p-button {
  width: 100%;
}
.p-fluid .p-button-icon-only {
  width: 2.357rem;
}
.p-fluid .p-buttonset {
  display: flex;
}
.p-fluid .p-buttonset .p-button {
  flex: 1;
}

.p-button-secondary > .p-button{
  color: $secondary-text-color;
  background: $secondary-color;
  border: 1px solid $secondary-color;
}
.p-button-secondary > .p-button:focus {
  background: $secondary-color-hover;
  color: $secondary-text-color;
  border-color: $secondary-color-hover;
}
.p-button-secondary:enabled:hover > .p-button:enabled:hover {
  background: $secondary-color-hover;
  color: $secondary-text-color;
  border-color: $secondary-color-hover;
  text-shadow: 0.1em 0.1em 0.1em $secondary-color;
}
.p-button-secondary:enabled:focus > .p-button:enabled:focus {
  box-shadow: 0 0 0 0.2rem $secondary-color-focus;
}
.p-button-secondary:enabled:active > .p-button:enabled:active {
  background: $secondary-color-active;
  color: $secondary-text-color;
  border-color: $secondary-color-active;
}
// Button END


//Fieldset START
.p-fieldset {
  border: 0.1em solid $primary-color;
  color: #333333;
  border-radius: 0.5em;
  box-shadow: 0.5em 0.5em 0.5em $secondary-color;
  margin-top: 1.0em;
  margin-bottom: 1.0em;
  background: $primary-color;
  background: linear-gradient(180deg, $primary-color 0, rgba(255,255,255,1) 20px);
}
.p-fieldset .p-fieldset-legend {
  padding: 0.5rem 1rem;
  border: 0.15em solid $primary-color;
  color: $primary-text-color;
  background: $secondary-color;
  font-weight: 600;
  border-radius: 0.5em;
}
.p-fieldset.p-fieldset-toggleable .p-fieldset-legend {
  padding: 0;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
  padding: 0.5rem 1rem;
  color: $primary-text-color;
  border-radius: 3px;
  transition: background-color 0.2s, box-shadow 0.2s;
}
.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a .p-fieldset-toggler {
  margin-right: 0.5rem;
}
.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #8dcdff;
}
.p-fieldset.p-fieldset-toggleable .p-fieldset-legend:hover {
  background: $primary-color;
  border-color: #dbdbdb;
  color: #333333;
}
.p-fieldset .p-fieldset-content {
  padding: 1.5rem 1.5rem;
}
//Fieldset END


//Table START

.p-datatable .p-paginator-top {
  border-width: 1px 1px 0 1px;
  border-radius: 0;
}
.p-datatable .p-paginator-bottom {
  border-width: 0 1px 1px 1px;
  border-radius: 0;
}
.p-datatable .p-datatable-header {
  background: #f4f4f4;
  color: #333333;
  border: 1px solid #c8c8c8;
  border-width: 1px 1px 0 1px;
  padding: 0.857rem 1rem;
  font-weight: 700;
}
.p-datatable .p-datatable-footer {
  background: #ffffff;
  color: #333333;
  border: 1px solid #c8c8c8;
  border-width: 0 1px 1px 1px;
  padding: 0.571rem 1rem;
  font-weight: normal;
}
.p-datatable .p-datatable-thead > tr > th {
  text-align: center;
  padding: 0.571rem 0.857rem;
  border: 1px solid #c8c8c8;
  border-width: 1px 1px 1px 1px;
  font-weight: 700;
  color: $primary-text-color;
  background: $primary-color;
  transition: background-color 0.2s, box-shadow 0.2s;
}
.p-datatable .p-datatable-tfoot > tr > td {
  text-align: left;
  padding: 0.571rem 0.857rem;
  border: 1px solid #c8c8c8;
  border-width: 1px;
  font-weight: 700;
  color: #333333;
  background: #f4f4f4;
}
.p-datatable .p-sortable-column .p-sortable-column-icon {
  color: #848484;
  margin-left: 0.5rem;
}
.p-datatable .p-sortable-column .p-sortable-column-badge {
  border-radius: 50%;
  height: 1.143rem;
  min-width: 1.143rem;
  line-height: 1.143rem;
  color: #ffffff;
  background: $primary-color-50;
  margin-left: 0.5rem;
}
.p-datatable .p-sortable-column:not(.p-highlight):hover {
  background: #e0e0e0;
  color: #333333;
}
.p-datatable .p-sortable-column:not(.p-highlight):hover .p-sortable-column-icon {
  color: #333333;
}
.p-datatable .p-sortable-column.p-highlight {
  background: $primary-color-50;
  color: #ffffff;
}
.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: #ffffff;
}
.p-datatable .p-sortable-column.p-highlight:hover {
  background: $primary-color-50;
  color: #ffffff;
}
.p-datatable .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
  color: #ffffff;
}
.p-datatable .p-sortable-column:focus {
  box-shadow: inset 0 0 0 0.2rem #8dcdff;
  outline: 0 none;
}
.p-datatable .p-datatable-tbody > tr {
  background: #ffffff;
  color: #333333;
  transition: background-color 0.2s, box-shadow 0.2s;
  outline-color: #8dcdff;
}
.p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  border: 1px solid #c8c8c8;
  border-width: 1px;
  padding: 0.571rem 0.857rem;
}
.p-datatable .p-datatable-tbody > tr > td .p-row-toggler,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-init,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel {
  width: 2rem;
  height: 2rem;
  color: #a6a6a6;
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.p-datatable .p-datatable-tbody > tr > td .p-row-toggler:enabled:hover,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-init:enabled:hover,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save:enabled:hover,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel:enabled:hover {
  color: $primary-color-50;
  border-color: transparent;
  background: transparent;
}
.p-datatable .p-datatable-tbody > tr > td .p-row-toggler:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-init:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #8dcdff;
}
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save {
  margin-right: 0.5rem;
}
.p-datatable .p-datatable-tbody > tr.p-highlight {
  background: $primary-color-50;
  color: #ffffff;
}
.p-datatable .p-datatable-tbody > tr.p-datatable-dragpoint-top > td {
  box-shadow: inset 0 2px 0 0 $primary-color-50;
}
.p-datatable .p-datatable-tbody > tr.p-datatable-dragpoint-bottom > td {
  box-shadow: inset 0 -2px 0 0 $primary-color-50;
}
.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover {
  background: #eaeaea;
  color: #333333;
}
.p-datatable .p-column-resizer-helper {
  background: $primary-color-50;
}
.p-datatable .p-datatable-scrollable-header,
.p-datatable .p-datatable-scrollable-footer {
  background: #f4f4f4;
}
.p-datatable .p-datatable-loading-icon {
  font-size: 2rem;
}
.p-datatable.p-datatable-gridlines .p-datatable-header {
  border-width: 1px 1px 0 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-footer {
  border-width: 0 1px 1px 1px;
}
.p-datatable.p-datatable-gridlines .p-paginator-top {
  border-width: 0 1px 0 1px;
}
.p-datatable.p-datatable-gridlines .p-paginator-bottom {
  border-width: 0 1px 1px 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
  border-width: 1px 1px 1px 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td {
  border-width: 1px;
}
.p-datatable.p-datatable-gridlines .p-datatable-tfoot > tr > td {
  border-width: 1px;
}
.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
  background: #f9f9f9;
}
.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even).p-highlight {
  background: $primary-color-50;
  color: #ffffff;
}
.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even).p-highlight .p-row-toggler {
  color: #ffffff;
}
.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even).p-highlight .p-row-toggler:hover {
  color: #ffffff;
}
.p-datatable.p-datatable-sm .p-datatable-header {
  padding: 0.72845rem 0.85rem;
}
.p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
  padding: 0.48535rem 0.72845rem;
}
.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
  padding: 0.48535rem 0.72845rem;
}
.p-datatable.p-datatable-sm .p-datatable-tfoot > tr > td {
  padding: 0.48535rem 0.85rem;
}
.p-datatable.p-datatable-sm .p-datatable-footer {
  padding: 0.48535rem 0.85rem;
}
.p-datatable.p-datatable-lg .p-datatable-header {
  padding: 1.07125rem 1.25rem;
}
.p-datatable.p-datatable-lg .p-datatable-thead > tr > th {
  padding: 0.71375rem 1.07125rem;
}
.p-datatable.p-datatable-lg .p-datatable-tbody > tr > td {
  padding: 0.71375rem 1.07125rem;
}
.p-datatable.p-datatable-lg .p-datatable-tfoot > tr > td {
  padding: 0.71375rem 1.25rem;
}
.p-datatable.p-datatable-lg .p-datatable-footer {
  padding: 0.71375rem 1.25rem;
}

//Table END


//Paginator START
.p-paginator {
  background: #f4f4f4;
  color: #333333;
  border: solid #c8c8c8;
  border-width: 1px;
  padding: 0;
  border-radius: 3px;
}
.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  background-color: transparent;
  border: 0 none;
  color: #848484;
  min-width: 2.357rem;
  height: 2.357rem;
  margin: 0;
  transition: background-color 0.2s, box-shadow 0.2s;
  border-radius: 0;
}
.p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover {
  background: #e0e0e0;
  border-color: transparent;
  color: #333333;
}
.p-paginator .p-paginator-first {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.p-paginator .p-paginator-last {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.p-paginator .p-dropdown {
  margin-left: 0.5rem;
  height: 2.357rem;
}
.p-paginator .p-dropdown .p-dropdown-label {
  padding-right: 0;
}
.p-paginator .p-paginator-current {
  background-color: transparent;
  border: 0 none;
  color: #848484;
  min-width: 2.357rem;
  height: 2.357rem;
  margin: 0;
  padding: 0 0.5rem;
}
.p-paginator .p-paginator-pages .p-paginator-page {
  background-color: transparent;
  border: 0 none;
  color: #848484;
  min-width: 2.357rem;
  height: 2.357rem;
  margin: 0;
  transition: background-color 0.2s, box-shadow 0.2s;
  border-radius: 0;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: $primary-color;
  border-color: $primary-color;
  color: $primary-text-color;
}
.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
  background: #e0e0e0;
  border-color: transparent;
  color: #333333;
}
//Paginator END

//Dropdown START
.p-dropdown {
  background: #ffffff;
  border: 1px solid #a6a6a6;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 3px;
}
.p-dropdown:not(.p-disabled):hover {
  border-color: #212121;
}
.p-dropdown:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.1rem $primary-color-hover;
  border-color: $primary-color-50;
}
.p-dropdown.p-dropdown-clearable .p-dropdown-label {
  padding-right: 1.429rem;
}
.p-dropdown .p-dropdown-label {
  background: transparent;
  border: 0 none;
}
.p-dropdown .p-dropdown-label.p-placeholder {
  color: #666666;
}
.p-dropdown .p-dropdown-label:enabled:focus {
  outline: 0 none;
  box-shadow: none;
}
.p-dropdown .p-dropdown-trigger {
  background: transparent;
  color: #848484;
  width: 2.357rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.p-dropdown .p-dropdown-clear-icon {
  color: #848484;
  right: 2.357rem;
}

.p-dropdown-panel {
  background: #ffffff;
  color: #333333;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.p-dropdown-panel .p-dropdown-header {
  padding: 0.429rem 0.857rem;
  border-bottom: 1px solid #eaeaea;
  color: #333333;
  background: #ffffff;
  margin: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
  padding-right: 1.429rem;
}
.p-dropdown-panel .p-dropdown-header .p-dropdown-filter-icon {
  right: 0.429rem;
  color: #848484;
}
.p-dropdown-panel .p-dropdown-items:not(.p-dropdown-virtualscroll) {
  padding: 0;
}
.p-dropdown-panel .p-dropdown-items.p-dropdown-virtualscroll .cdk-virtual-scroll-content-wrapper {
  padding: 0;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  margin: 0;
  padding: 0.429rem 0.857rem;
  border: 0 none;
  color: #333333;
  background: transparent;
  transition: background-color 0.2s, box-shadow 0.2s;
  border-radius: 0;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #ffffff;
  background: $primary-color-50;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  color: #333333;
  background: #eaeaea;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message {
  padding: 0.429rem 0.857rem;
  color: #333333;
  background: transparent;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item-group {
  margin: 0;
  padding: 0.857rem;
  color: #333333;
  background: #f4f4f4;
  font-weight: 700;
}

p-dropdown.ng-dirty.ng-invalid > .p-dropdown {
  border-color: #a80000;
}
//Dropdown END

//Inputtext START
.p-inputtext {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.75rem;
  color: #333333;
  background: #ffffff;
  padding: 0.429rem 0.429rem;
  border: 1px solid #a6a6a6;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  appearance: none;
  border-radius: 3px;
}
.p-inputtext:enabled:hover {
  border-color: #212121;
}
.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.1rem $primary-color-focus;
  border-color: $primary-color;
}
.p-inputtext.ng-dirty.ng-invalid {
  border-color: #a80000;
}
.p-inputtext.p-inputtext-sm {
  font-size: 0.875rem;
  padding: 0.375375rem 0.375375rem;
}
.p-inputtext.p-inputtext-lg {
  font-size: 1.25rem;
  padding: 0.53625rem 0.53625rem;
}
//Inputtext END

//Divider START
.p-divider .p-divider-content {
  background-color: #ffffff;
}
.p-divider.p-divider-horizontal {
  margin: 1rem 0;
  padding: 0 1rem;
}
.p-divider.p-divider-horizontal:before {
  border-top: 1px #c8c8c8;
}
.p-divider.p-divider-horizontal .p-divider-content {
  padding: 0 0.5rem;
}
.p-divider.p-divider-vertical {
  margin: 0 1rem;
  padding: 1rem 0;
}
.p-divider.p-divider-vertical:before {
  border-left: 1px #c8c8c8;
}
.p-divider.p-divider-vertical .p-divider-content {
  padding: 0.5rem 0;
}
//Divider END

//Checkbox START

.p-checkbox {
  width: 20px;
  height: 20px;
}
.p-checkbox .p-checkbox-box {
  border: 1px solid #a6a6a6;
  background: #ffffff;
  width: 20px;
  height: 20px;
  color: #333333;
  border-radius: 3px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.p-checkbox .p-checkbox-box .p-checkbox-icon {
  transition-duration: 0.2s;
  color: #ffffff;
  font-size: 14px;
}
.p-checkbox .p-checkbox-box.p-highlight {
  border-color: $primary-color;
  background: $primary-color;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  border-color: #212121;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #8dcdff;
  border-color: $primary-color;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  border-color: $primary-color;
  background: $primary-color;
  color: #ffffff;
}

p-checkbox.ng-dirty.ng-invalid > .p-checkbox > .p-checkbox-box {
  border-color: #a80000;
}

.p-input-filled .p-checkbox .p-checkbox-box {
  background-color: #f4f4f4;
}
.p-input-filled .p-checkbox .p-checkbox-box.p-highlight {
  background: $primary-color;
}
.p-input-filled .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  background-color: #f4f4f4;
}
.p-input-filled .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  background: $primary-color;
}

.p-checkbox-label {
  margin-left: 0.5rem;
}

.p-highlight .p-checkbox .p-checkbox-box {
  border-color: #ffffff;
}
//Checkbox END

//TieredMenu START

.p-tieredmenu {
  padding: 0;
  background: #ffffff;
  color: #333333;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  width: 12.5rem;
}
.p-tieredmenu .p-menuitem-link {
  padding: 0.857rem;
  color: #333333;
  border-radius: 0;
  transition: background-color 0.2s, box-shadow 0.2s;
  user-select: none;
}
.p-tieredmenu .p-menuitem-link .p-menuitem-text {
  color: #333333;
}
.p-tieredmenu .p-menuitem-link .p-menuitem-icon {
  color: #333333;
  margin-right: 0.5rem;
}
.p-tieredmenu .p-menuitem-link .p-submenu-icon {
  color: #333333;
}
.p-tieredmenu .p-menuitem-link:not(.p-disabled):hover {
  background: #eaeaea;
}
.p-tieredmenu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: #333333;
}
.p-tieredmenu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon {
  color: #333333;
}
.p-tieredmenu .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
  color: #333333;
}
.p-tieredmenu .p-menuitem-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset 0 0 0 0.2rem #8dcdff;
}
.p-tieredmenu.p-tieredmenu-overlay {
  background: #ffffff;
  border: 1px solid #c8c8c8;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.16);
}
.p-tieredmenu .p-submenu-list {
  padding: 0;
  background: #ffffff;
  border: 1px solid #c8c8c8;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.16);
}
.p-tieredmenu .p-menuitem {
  margin: 0;
}
.p-tieredmenu .p-menuitem:last-child {
  margin: 0;
}
.p-tieredmenu .p-menuitem.p-menuitem-active > .p-menuitem-link {
  background: #eaeaea;
}
.p-tieredmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text {
  color: #333333;
}
.p-tieredmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-icon, .p-tieredmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-submenu-icon {
  color: #333333;
}
.p-tieredmenu .p-menu-separator {
  border-top: 1px solid #d8dae2;
  margin: 0;
}
.p-tieredmenu .p-submenu-icon {
  font-size: 0.875rem;
}
//TieredMenu END

//SelectButton START

.p-selectbutton .p-button {
  background: #dadada;
  border: 1px solid #dadada;
  color: #333333;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.p-selectbutton .p-button .p-button-icon-left,
.p-selectbutton .p-button .p-button-icon-right {
  color: #666666;
}
.p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):hover {
  background: #c8c8c8;
  border-color: #c8c8c8;
  color: #333333;
}
.p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):hover .p-button-icon-left,
.p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):hover .p-button-icon-right {
  color: #212121;
}
.p-selectbutton .p-button.p-highlight {
  background: $primary-color;
  border-color: $primary-color;
  color: #ffffff;
}
.p-selectbutton .p-button.p-highlight .p-button-icon-left,
.p-selectbutton .p-button.p-highlight .p-button-icon-right {
  color: #ffffff;
}
.p-selectbutton .p-button.p-highlight:hover {
  background: $primary-color-hover;
  border-color: $primary-color-hover;
  color: #ffffff;
}
.p-selectbutton .p-button.p-highlight:hover .p-button-icon-left,
.p-selectbutton .p-button.p-highlight:hover .p-button-icon-right {
  color: #ffffff;
}

p-selectbutton.ng-dirty.ng-invalid > .p-selectbutton > .p-button {
  border-color: #a80000;
}
//SelectButton END

//Tooltip START

.p-tooltip .p-tooltip-text {
  background: #333333;
  color: #ffffff;
  padding: 0.429rem 0.429rem;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 3px;
}
.p-tooltip.p-tooltip-right .p-tooltip-arrow {
  border-right-color: #333333;
}
.p-tooltip.p-tooltip-left .p-tooltip-arrow {
  border-left-color: #333333;
}
.p-tooltip.p-tooltip-top .p-tooltip-arrow {
  border-top-color: #333333;
}
.p-tooltip.p-tooltip-bottom .p-tooltip-arrow {
  border-bottom-color: #333333;
}
//Tooltip END

//Dialog START

.p-dialog {
  border-radius: 3px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
  border: 1px solid #c8c8c8;
}
.p-dialog .p-dialog-header {
  border-bottom: 1px solid #c8c8c8;
  background: #f4f4f4;
  color: #333333;
  padding: 1rem;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 700;
  font-size: 1rem;
}
.p-dialog .p-dialog-header .p-dialog-header-icon {
  width: 2rem;
  height: 2rem;
  color: #a6a6a6;
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  margin-right: 0.5rem;
}
.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
  color: #007ad9;
  border-color: transparent;
  background: transparent;
}
.p-dialog .p-dialog-header .p-dialog-header-icon:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #8dcdff;
}
.p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
  margin-right: 0;
}
.p-dialog .p-dialog-content {
  background: #ffffff;
  color: #333333;
  padding: 1rem;
}
.p-dialog .p-dialog-footer {
  border-top: 1px solid #c8c8c8;
  background: #ffffff;
  color: #333333;
  padding: 0.571rem 1rem;
  text-align: right;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.p-dialog .p-dialog-footer button {
  margin: 0 0.5rem 0 0;
  width: auto;
}
.p-dialog.p-confirm-dialog .p-confirm-dialog-icon {
  font-size: 2rem;
}
.p-dialog.p-confirm-dialog .p-confirm-dialog-message {
  margin-left: 1rem;
}

.p-dialog-mask.p-component-overlay {
  background-color: rgba(0, 0, 0, 0.4);
}
//Dialog END
