<div class="p-grid">
  <div class="p-col-12">
    <p-fieldset legend="CAMPIONATO SINGOLO" class="p-col-nopad">
      <div class="p-grid">
        <div class="p-col-4">
          <p-button class="appButton menuButton" icon="pi pi-calendar" (onClick)="nuovoCampionato()"></p-button>
          <h3 style="text-align: center;">NUOVO CAMPIONATO</h3>
        </div>
        <div class="p-col-4 ">
          <p-button class="appButton menuButton" icon="pi pi-folder-open" (onClick)="caricaCampionato()"></p-button>
          <h3 style="text-align: center;">CARICA CAMPIONATO</h3>
        </div>
        <div class="p-col-4 ">
          <p-button class="appButton menuButton" icon="pi pi-star" (onClick)="nuovoCampionatoCasuale()">
          </p-button>
          <h3 style="text-align: center;">NUOVO CAMPIONATO CASUALE</h3>
        </div>
      </div>
    </p-fieldset>

    <p-fieldset legend="STAGIONE" class="p-col-nopad">
      <div class="p-grid">
        <div class="p-col-4 ">
          <p-button class="appButton menuButton" icon="pi pi-user" (onClick)="nuovaStagione()"></p-button>
          <h3 style="text-align: center;">NUOVA STAGIONE</h3>
        </div>
        <div class="p-col-4 ">
          <p-button class="appButton menuButton" icon="pi pi-folder-open" (onClick)="caricaStagione()"></p-button>
          <h3 style="text-align: center;">CARICA STAGIONE</h3>
        </div>
        <div class="p-col-4 ">
          <p-button class="appButton menuButton" icon="pi pi-star" (onClick)="nuovaStagioneCasuale()"></p-button>
          <h3 style="text-align: center;">NUOVA STAGIONE CASUALE</h3>
        </div>
      </div>
    </p-fieldset>

    <p-fieldset legend="COPPA">
      <div class="p-grid">
        <div class="p-col-4 ">
          <p-button class="appButton menuButton" icon="pi pi-sitemap" (onClick)="nuovaCoppa()"></p-button>
          <h3 style="text-align: center;">NUOVA COPPA</h3>
        </div>
        <div class="p-col-4 ">
          <p-button class="appButton menuButton" icon="pi pi-folder-open" (onClick)="caricaCoppa()"></p-button>
          <h3 style="text-align: center;">CARICA COPPA</h3>
        </div>
        <div class="p-col-4 ">
          <p-button class="appButton menuButton" icon="pi pi-star" (onClick)="nuovaCoppaCasuale()"></p-button>
          <h3 style="text-align: center;">NUOVA COPPA CASUALE</h3>
        </div>
      </div>
    </p-fieldset>

    <p-fieldset legend="CARRIERA ALLENATORE">
      <div class="p-grid">
        <div class="p-col-4 ">
          <p-button class="appButton menuButton" icon="pi pi-user-plus" (onClick)="nuovaCarriera()"></p-button>
          <h3 style="text-align: center;">NUOVA CARRIERA</h3>
        </div>
        <div class="p-col-4 ">
          <p-button class="appButton menuButton" icon="pi pi-folder-open" (onClick)="caricaCarriera()"></p-button>
          <h3 style="text-align: center;">CARICA CARRIERA</h3>
        </div>
        <div class="p-col-4 ">
          <p-button class="appButton menuButton" icon="pi pi-star" (onClick)="nuovaCarrieraCasuale()"></p-button>
          <h3 style="text-align: center;">NUOVA CARRIERA CASUALE</h3>
        </div>
      </div>
    </p-fieldset>
  </div>
</div>
