<div class="p-grid">
  <div class="p-col-6">
    <p-fieldset legend="CAMPIONATO" class="p-col-nopad">
      <div class="p-grid">
        <div class="p-col-6">
          <p-button class="appButton menuButton" icon="pi pi-calendar" (onClick)="nuovoCampionato()"></p-button>
          <h3 style="text-align: center;">NUOVO CAMPIONATO</h3>
        </div>
        <div class="p-col-6">
          <p-button class="appButton menuButton" icon="pi pi-folder-open" (onClick)="caricaCampionato()"></p-button>
          <h3 style="text-align: center;">CARICA CAMPIONATO</h3>
        </div>
      </div>
    </p-fieldset>

    <app-carica-campionato [light]="true"></app-carica-campionato>

  </div>

  <div class="p-col-6">
    <p-fieldset legend="STAGIONE" class="p-col-nopad">
      <div class="p-grid">
        <div class="p-col-6">
          <p-button class="appButton menuButton" icon="pi pi-user" (onClick)="nuovaStagione()"></p-button>
          <h3 style="text-align: center;">NUOVA STAGIONE</h3>
        </div>
        <div class="p-col-6">
          <p-button class="appButton menuButton" icon="pi pi-folder-open" (onClick)="caricaStagione()"></p-button>
          <h3 style="text-align: center;">CARICA STAGIONE</h3>
        </div>
      </div>
    </p-fieldset>

    <app-carica-stagione [light]="true"></app-carica-stagione>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-6">
    <p-fieldset legend="CLASSIFICA SERIE A" class="p-col-nopad">
      <iframe id="myframe" src="http://www.footstats.it/classifica_ext.php?show=a" height="500" width="100%"
        frameborder="0" scrolling="no" style="margin:10px 0;"></iframe>
    </p-fieldset>
  </div>
  <div class="p-col-6">
    <p-fieldset legend="CLASSIFICA SERIE B" class="p-col-nopad">
      <iframe id="myframe" src="http://www.footstats.it/classifica_ext.php?show=b" height="500" width="100%"
        frameborder="0" scrolling="no" style="margin:10px 0;"></iframe>
    </p-fieldset>
  </div>
</div>
