<div class="p-grid">
  <div class="p-col-12">
    <p-fieldset legend="CONFIGURATORE">
      <p-tabView>
        <p-tabPanel header="TIPOLOGIA TORNEO">
          <app-configura-tipologia-torneo></app-configura-tipologia-torneo>
        </p-tabPanel>
        <p-tabPanel header="STAGIONI">
          <ng-template pTemplate="content">
            <app-configura-stagioni></app-configura-stagioni>
          </ng-template>
        </p-tabPanel>
        <p-tabPanel header="NUMERO SQUADRE">
          <ng-template pTemplate="content">
            <app-configura-numero-teams></app-configura-numero-teams>
          </ng-template>
        </p-tabPanel>
        <p-tabPanel header="FORMAT CAMPIONATO">
          <ng-template pTemplate="content">
            <app-configura-format-campionato></app-configura-format-campionato>
          </ng-template>
        </p-tabPanel>
        <p-tabPanel header="SQUADRE">
          <ng-template pTemplate="content">
            <app-configura-lista-teams></app-configura-lista-teams>
          </ng-template>
        </p-tabPanel>
      </p-tabView>
    </p-fieldset>
  </div>
</div>
