<div class="p-grid">
  <div class="p-col-12">
    <p-fieldset legend="GIOCA STAGIONE">
      <div *ngFor="let i = index; let campionato of stagione.listaCampionati">
        <p-fieldset
          legend="{{campionato.denominazioneLega === undefined ? 'Nuovo Campionato - ' +i : campionato.denominazioneLega}}"
          [toggleable]="true">
          <app-gioca-campionato [(campionato)]="stagione.listaCampionati[i]"
            (aggiornaSalvataggioStagione)="aggiornaStagione()" (proseguiStagioneEvent)="proseguiStagione()" (preparaSpareggiStagioneEvent)="preparaSpareggiStagione()">
          </app-gioca-campionato>
        </p-fieldset>
      </div>
    </p-fieldset>
  </div>
</div>
