/* You can add global styles to this file, and also import other style files */

$red: rgb(243, 78, 78);
$grey: rgb(117, 111, 111);

body {
    font-family: "Arial", Times, serif;
  }

  .main {
      width: 100%;
  }

  h1{
    color: $grey;
    margin: 0;
  }

  h2{
    color: $grey;
    margin: 0;
  }

  h3{
    color: $grey;
    margin: 0;
  }

  h4{
    color: $grey;
    margin: 0;
  }

  h5{
    color: $grey;
    margin: 0;
  }

  label{
      color: $grey;
  }

  input{
      box-shadow: 10em
  }

  .p-inputtext{
      width: 100%;
  }

  .logo{
    font-size:3.0em;
    color: $red;
    font-style: oblique;
    text-shadow: 2px 2px $grey;
  }

  .gradient{
    background-image: linear-gradient(to right, white , rgb(131, 17, 47));
    margin-bottom: 1.0em;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(131, 17, 47);
    color: white;
    text-align: center;
    font-size:0.8em;
  }

  .appButton .p-button{
    background-color: rgb(131, 17, 47);
    border-color: rgb(131, 17, 47);
    font-family: "Arial", Times, serif;
    margin: auto;
    display: block;
    width: 90%;
  }

  .appSelectButton .p-selectbutton .p-button.p-state-active{
    background-color: rgb(131, 17, 47);
    border-color: rgb(131, 17, 47);
    font-family: "Arial", Times, serif;
  }

  .menuButton .p-button{
    width: 50% !important;
    height: 3.0em;
    font-size: 3.0em;
  }

  .p-button{
    margin: auto;
    display: block !important;
  }

  .appCheckBox .p-chkbox .p-chkbox-box.p-state-active {
    background-color: rgb(131, 17, 47);
    border-color: rgb(131, 17, 47);
  }

  .appCheckBox .p-chkbox .p-chkbox-box.p-state-active {
    background-color: rgb(131, 17, 47);
    border-color: rgb(131, 17, 47);
  }

  .appDropDown .p-dropdown {
    width: 100%;
  }

  .teamLogo{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(117, 111, 111);
    box-shadow: 2px 2px 1px grey;
  }

  body .p-fieldset{
    margin-top: 1.0em;
  }
