<p-fieldset legend="Statistiche" [toggleable]="true" [collapsed]="true">
  <div class="ui-g">
    <div class="ui-g-6">
      <h3>SQUADRA A</h3>
      <p-dropdown class="appDropDown" [options]="listaTeams" filter="true" [(ngModel)]="teamA_grafico"
        (ngModelChange)="aggiornaAndamentoGrafico()">
      </p-dropdown>
    </div>
    <div class="ui-g-6">
      <h3>SQUADRA B</h3>
      <p-dropdown class="appDropDown" [options]="listaTeams" filter="true" [(ngModel)]="teamB_grafico"
        (ngModelChange)="aggiornaAndamentoGrafico()">
      </p-dropdown>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <p-chart type="line" [data]="data" (onDataSelect)="selectData($event)" width="90vw" height="50vh"></p-chart>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-6">
      <p-fieldset legend="{{teamA_grafico.nome}}">
        <div class="ui-g">
          <p-scrollPanel [style]="{width: '100%', height: '400px'}">
            <div class="ui-g-12" *ngFor="let evento of listaEventi_A">
              <div class="ui-g">
                <div class="ui-g-1"><img class="teamLogo" src={{evento.teamC.logo}} width="30" heigth="30" /></div>
                <div class="ui-g-4">
                  <h3
                    pTooltip="{{'Valore tecnico ' +evento.teamC.nome.toUpperCase() +': '+ evento.teamC.valoreTecnico}}"
                    tooltipPosition="top">{{evento.teamC.nome.toUpperCase()}}</h3>
                </div>
                <div class="ui-g-1"><img class="teamLogo" src={{evento.teamFC.logo}} width="30" heigth="30" /></div>
                <div class="ui-g-4"
                  pTooltip="{{'Valore tecnico ' +evento.teamFC.nome.toUpperCase() +': '+ evento.teamFC.valoreTecnico}}"
                  tooltipPosition="top">
                  <h3>{{evento.teamFC.nome.toUpperCase()}}</h3>
                </div>
                <div class="ui-g-2">
                  <h2>{{evento.goalC}} - {{evento.goalFC}}</h2>
                </div>
              </div>
            </div>
          </p-scrollPanel>
        </div>
      </p-fieldset>
    </div>

    <div class="ui-g-6">
      <p-fieldset legend="{{teamB_grafico.nome}}">
        <div class="ui-g">
          <p-scrollPanel [style]="{width: '100%', height: '400px'}">
            <div class="ui-g-12" *ngFor="let evento of listaEventi_B">
              <div class="ui-g">
                <div class="ui-g-1"><img class="teamLogo" src={{evento.teamC.logo}} width="30" heigth="30" /></div>
                <div class="ui-g-4">
                  <h3
                    pTooltip="{{'Valore tecnico ' +evento.teamC.nome.toUpperCase() +': '+ evento.teamC.valoreTecnico}}"
                    tooltipPosition="top">{{evento.teamC.nome.toUpperCase()}}</h3>
                </div>
                <div class="ui-g-1"><img class="teamLogo" src={{evento.teamFC.logo}} width="30" heigth="30" /></div>
                <div class="ui-g-4"
                  pTooltip="{{'Valore tecnico ' +evento.teamFC.nome.toUpperCase() +': '+ evento.teamFC.valoreTecnico}}"
                  tooltipPosition="top">
                  <h3>{{evento.teamFC.nome.toUpperCase()}}</h3>
                </div>
                <div class="ui-g-2">
                  <h2>{{evento.goalC}} - {{evento.goalFC}}</h2>
                </div>
              </div>
            </div>
          </p-scrollPanel>
        </div>
      </p-fieldset>
    </div>
  </div>
</p-fieldset>
