<div class="p-grid">
  <div class="p-col-12">
    <p-fieldset legend="Carica Campionato">
      <div class="p-grid">
        <div class="p-col-12">
          <p-table #dt [value]="listaSalvataggi" dataKey="id" styleClass="ui-table-customers" [rowHover]="true"
            [rows]="idFile" [paginator]="false">
            <ng-template pTemplate="header">
              <tr>
                <th >ID</th>
                <th >DESCRIZIONE</th>
                <th >STAGIONE</th>
                <th >NUMERO SQUADRE</th>
                <th >DATA CREAZIONE</th>
                <th >DATA SALVATAGGIO</th>
                <th ></th>
                <th ></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-salvataggio>
              <tr>
                <td>{{salvataggio.idCampionato}}</td>
                <td>{{salvataggio.descrizione}}</td>
                <td>{{salvataggio.stagione}}</td>
                <td>{{salvataggio.numeroTeams}}</td>
                <td>{{salvataggio.dataCreazione | date : 'medium'}}</td>
                <td>{{salvataggio.dataUltimoSalvataggio | date : 'medium'}}</td>
                <td>
                  <p-button class="appButton" label="CARICA" (onClick)="caricaCampionato(salvataggio.idCampionato)">
                  </p-button>
                </td>
                <td>
                  <p-button class="appButton" label="ELIMINA" (onClick)="eliminaSalvataggio(salvataggio.idCampionato)">
                  </p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-fieldset>
  </div>
</div>
